.none-select {
  user-select: none;
}

.link-hover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-logo {
  overflow-y: auto;
  background-image: url("../public/images/logotipo.png");
  background-repeat: no-repeat;
  background-position: center;
}
